.Home {
  background-color: rgba(206, 73, 18, 74%);
  height: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: futura;
}

.name {
  color: white;
  font-size: 4em;
  padding: 0.7em;
  border: solid;
  border-radius: 0.5em;
  width: 40%;
  align-self: center;
  font-weight: bold;
}

.clicking {
  color: white;
  font-size: 1.2em;
  margin: 2.5em;
}
