.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  background-color: white;
  font-family: futura;
  font-weight: bold;
}

.item {
  color: #363636;
}

.item:hover {
  color: #9d9d9d;
}
